{% extends "base.html" %}

{% block content %}
<h2>Add New Game</h2>

<form method="POST">
    <div class="form-group">
        <label for="name">Game Name</label>
        <input type="text" name="name" id="name" class="form-control" required>
    </div>

    <div class="form-group mt-3">
        <label for="about_html">HTML Filename (for "More about the game")</label>
        <input type="text" name="about_html" id="about_html" class="form-control" placeholder="e.g. about_gta.html" required>
    </div>

    <button type="submit" class="btn btn-success mt-4">Add Game</button>
</form>
{% endblock %}
